<template>
  <div id="statisticalsimulation">
    <v-container fluid>
      <v-row>
        <v-col cols="3">
          <v-row>
            <v-col>
              <v-card>
                <v-card-title> Setup Options </v-card-title>
                <v-card-text>
                  <v-row
                    ><v-col>
                      <v-btn @click="togglePoiCreation">Add POI</v-btn></v-col
                    ></v-row
                  >
                  <v-row>
                    <v-col>
                      <v-btn
                        @click="
                          poiCombinationProcessor(
                            poigroup1,
                            poigroup2,
                            poigroup3,
                            poigroup4
                          )
                        "
                        >POI Combination Process</v-btn
                      >
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      ><v-btn @click="randomSetGenerator"
                        >Pick Random Set</v-btn
                      ></v-col
                    >
                  </v-row>
                  <!-- <v-row>
                    <v-col>
                      <v-btn @click="getControlledRandomPois"
                        >Load Random Pois</v-btn
                      >
                    </v-col>
                  </v-row> -->
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card>
                <v-card-title>Simulation Options</v-card-title>
                <v-card-text>
                  <!-- <v-row
                    ><v-col>
                      <v-btn @click="getOriginDestPois"
                        >Load Controlled POIS</v-btn
                      ></v-col
                    ></v-row
                  > -->
                  <!-- <v-row>
                    <v-col>
                      <v-btn @click="runBulkCalculation(15, 6)"
                        >Run Bulk Simulation</v-btn
                      >
                    </v-col>
                  </v-row> -->

                  <v-row
                    ><v-col>
                      <v-btn @click="startSimulationRunner()"
                        >Start Bulk Simulation</v-btn
                      ></v-col
                    ></v-row
                  >
                  <!-- <v-row>
                    <v-col>
                      <v-btn @click="simulationCorrectedRunner"
                        >Start Corrected Simulation</v-btn
                      >
                    </v-col>
                  </v-row> -->
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-card>
                <v-card-title>Create Poi List</v-card-title>
                <v-card-text>
                  {{ defined_poi }}
                </v-card-text>
                <v-card-actions>
                  <v-container>
                    <v-row>
                      <v-col cols="6"
                        ><v-text-field
                          required
                          label="Group Name"
                          v-model="poigroupname"
                        ></v-text-field
                      ></v-col>
                      <v-col cols="6"
                        ><v-btn
                          @click="savePoiLocations(poigroupname, defined_poi)"
                          >Save Pois</v-btn
                        ></v-col
                      >
                    </v-row>
                  </v-container>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="9">
          <div id="map-wrap" style="height: 820px; width: 100%">
            <client-only>
              <l-map
                @click="addMarker"
                @ready="attacheRoutingLibrary()"
                ref="myLeafletMap"
                :zoom="15"
                :center="centerMap"
                style="z-index: 0"
              >
                <l-tile-layer :url="mapUrl"></l-tile-layer>

                <l-marker
                  v-for="item in defined_poi"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                ></l-marker>
                <!-- Group POI 1 TOP LEFT -->
                <l-marker
                  v-for="item in poigroup1"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-red.png"
                  />
                </l-marker>

                <!-- Group POI 2 BOTTOM LEFT-->
                <l-marker
                  v-for="item in poigroup2"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-orange.png"
                  />
                </l-marker>

                <!-- Group POI 3 BOTTOM RIGHT-->
                <l-marker
                  v-for="item in poigroup3"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-green.png"
                  />
                </l-marker>

                <!-- Group POI 4 BOTTOM RIGHT-->
                <l-marker
                  v-for="item in poigroup4"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-violet.png"
                  />
                </l-marker>

                <!-- Controlled Random Group-->
                <l-marker
                  v-for="item in controlledDestinations"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-green.png"
                  />
                </l-marker>
              </l-map>
            </client-only>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { v4 as uuidv4 } from "uuid";
import "leaflet/dist/leaflet.css";
import axios from "axios";
import {
  LMap,
  LTileLayer,
  LMarker,
  LPolyline,
  LLayerGroup,
  LTooltip,
  LPopup,
  LControlZoom,
  LControlAttribution,
  LControlScale,
  LControlLayers,
} from "vue2-leaflet";
export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LPolyline,
    LLayerGroup,
    LTooltip,
    LPopup,
    LControlZoom,
    LControlAttribution,
    LControlScale,
    LControlLayers,
  },
  props: {},
  computed: {
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.15];
    },
    dynamicAnchor() {
      return [this.iconSize / 2, this.iconSize * 1.15];
    },
  },
  data() {
    return {
      processingControlledGroup: [],
      controlledRandomPoi: [],
      controlledOrigins: [],
      controlledDestinations: [],
      poigroup1: [],
      poigroup2: [],
      poigroup3: [],
      poigroup4: [],
      pickPoiLocation: false,
      mapUrl: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        'Leaflet | OpenStreetMaps | &copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      centerMap: [47.37212934247628, 8.54212290997998],
      origin_poi: [],
      destination_poi: [],
      defined_poi: [],
      poigroupname: "",
    };
  },
  mounted() {
    // this.loadPoiFiles();
    this.getPoiGroup();
  },
  created() {},
  methods: {
    async attacheRoutingLibrary() {
      // This function is called when the map has been successfully rendered
      await import("leaflet-routing-machine").then(() => {
        console.log(this.$L);
      });
    },

    async getOriginDestPois() {
      // Get the Controlled POI Group
      try {
        let myResult = await this.$axios.$get("/api/poicontrollgroups");
        let tempList = [];
        if (myResult) {
          for (let iter = 0; iter < myResult.data.length; iter++) {
            tempList.push(myResult.data[iter].attributes.coordinates);
          }
        }
        this.processingControlledGroup = tempList;
      } catch (err) {
        console.log(err);
      }
    },

    async getControlledRandomPois() {
      try {
        let myResult = await this.$axios.$get("/api/poicontrollgroups");
        if (myResult) {
          this.controlledRandomPoi = myResult.data;
          for (let i = 0; i < myResult.data.length; i++) {
            this.controlledDestinations.push(
              myResult.data[i].attributes.coordinates.destination
            );
            this.controlledOrigins.push(
              myResult.data[i].attributes.coordinates.origin
            );
          }
        }
      } catch (err) {
        console.log(err);
      }
    },
    async poiCombinationProcessor(group1, group2, group3, group4) {
      try {
        // Create array lists
        let group1clone = [];
        let group2clone = [];
        let group3clone = [];
        let group4clone = [];

        let mergedgroup123 = [];
        let mergedgroup234 = [];
        let mergedgroup341 = [];
        let mergedgroup412 = [];

        let combinedPoi = [];

        // Clone Array Lists
        Object.assign(group1clone, group1);
        Object.assign(group2clone, group2);
        Object.assign(group3clone, group3);
        Object.assign(group4clone, group4);

        // Show Remaining Count
        // console.log(`Merged List For Group 1 Length : ${mergedgroup123.length}`);
        // console.log(`Merged List For Group 2 Length : ${mergedgroup234.length}`);
        // console.log(`Merged List For Group 3 Length : ${mergedgroup341.length}`);
        // console.log(`Merged List For Group 4 Length : ${mergedgroup412.length}`);

        // Merge Step of Points for Randomizer
        // ====  mergedgroup123 ====
        // Push Data of Group 1 to mergedgroup123
        for (let i = 0; i < group1clone.length; i++) {
          mergedgroup123.push(group1clone[i]);
        }
        // Push Data of Group 2 to mergedgroup123
        for (let i = 0; i < group2clone.length; i++) {
          mergedgroup123.push(group2clone[i]);
        }
        // Push Data of Group 3 to mergedgroup123
        for (let i = 0; i < group2clone.length; i++) {
          mergedgroup123.push(group2clone[i]);
        }

        // ====  mergedgroup234 ====
        // Push Data of Group 2 to mergedgroup234
        for (let i = 0; i < group2clone.length; i++) {
          mergedgroup234.push(group2clone[i]);
        }
        // Push Data of Group 3 to mergedgroup234
        for (let i = 0; i < group3clone.length; i++) {
          mergedgroup234.push(group3clone[i]);
        }
        // Push Data of Group 4 to mergedgroup234
        for (let i = 0; i < group4clone.length; i++) {
          mergedgroup234.push(group4clone[i]);
        }

        // ====  mergedgroup341 ====
        // Push Data of Group 3 to mergedgroup341
        for (let i = 0; i < group3clone.length; i++) {
          mergedgroup341.push(group3clone[i]);
        }
        // Push Data of Group 4 to mergedgroup341
        for (let i = 0; i < group4clone.length; i++) {
          mergedgroup341.push(group4clone[i]);
        }
        // Push Data of Group 1 to mergedgroup341
        for (let i = 0; i < group1clone.length; i++) {
          mergedgroup341.push(group1clone[i]);
        }

        // ====  mergedgroup412 ====
        // Push Data of Group 4 to mergedgroup412
        for (let i = 0; i < group4clone.length; i++) {
          mergedgroup412.push(group4clone[i]);
        }
        // Push Data of Group 1 to mergedgroup412
        for (let i = 0; i < group1clone.length; i++) {
          mergedgroup412.push(group1clone[i]);
        }
        // Push Data of Group 2 to mergedgroup412
        for (let i = 0; i < group2clone.length; i++) {
          mergedgroup412.push(group2clone[i]);
        }

        // Start Mapping Points for Origin and Destination
        // Group 1 points will be mapping to Groups 2 3 4
        // For Every Point in Group 1 it will be mapped to all points from group 2 3 4
        console.log(`Combining Group 1 to - Group 2 3 4`);
        for (let i = 0; i < group1clone.length; i++) {
          for (let j = 0; j < mergedgroup234.length; j++) {
            combinedPoi.push({
              origin: group1clone[i],
              destination: mergedgroup234[j],
            });
          }
        }
        console.log(`Combining Group 2 to - Group 3 4 1`);
        for (let i = 0; i < group2clone.length; i++) {
          for (let j = 0; j < mergedgroup341.length; j++) {
            combinedPoi.push({
              origin: group2clone[i],
              destination: mergedgroup341[j],
            });
          }
        }
        console.log(`Combining Group 3 to - Group 4 1 2`);
        for (let i = 0; i < group3clone.length; i++) {
          for (let j = 0; j < mergedgroup412.length; j++) {
            combinedPoi.push({
              origin: group3clone[i],
              destination: mergedgroup412[j],
            });
          }
        }
        console.log(`Combining Group 4 to - Group 1 2 3`);
        for (let i = 0; i < group4clone.length; i++) {
          for (let j = 0; j < mergedgroup123.length; j++) {
            combinedPoi.push({
              origin: group4clone[i],
              destination: mergedgroup123[j],
            });
          }
        }

        // This will insert all possible combinations to the database for a random sampling group on a later process.
        for (let i = 0; i < combinedPoi.length; i++) {
          console.log(`Inserting Data : ` + i);
          let payload = {
            data: {
              poipair: combinedPoi[i],
            },
          };
          try {
            await this.$axios.$post("/api/poimappings", payload);
          } catch (err) {
            console.log(err);
          }
        }
      } catch (err) {
        console.log(err);
      }
    },
    // This will generate a pick a set of records to be used for the simulation.
    async randomSetGenerator() {
      let controlledRandomList = [];
      let randomSet = new Set();
      for (let index = 0; index < 1500; index++) {
        randomSet.add(Math.floor(Math.random() * 4800) + 1);
      }
      // console.log(randomSet);
      async function getRandomMapping(ranVal) {
        try {
          let myPoiResult = await axios.get(
            `http://localhost:1337/api/poimappings/${ranVal}`
          );
          if (myPoiResult) {
            let payload = {
              data: {
                poimappingid: myPoiResult.data.data.id,
                coordinates: myPoiResult.data.data.attributes.poipair,
              },
            };
            let myControlledResult = await axios.post(
              "http://localhost:1337/api/poicontrollgroups",
              payload
            );
            if (myControlledResult) {
              console.log(myControlledResult.data);
            }
          }
        } catch (err) {
          console.log(err);
        }
      }
      randomSet.forEach((element) => getRandomMapping(element));
    },
    async startSimulationRunner() {
      try {
        let myPoints = [];
        const poiData = await this.$axios.$get("/api/poicontrollgroups");
        if (poiData) {
          console.log(poiData);
          for (let iter = 0; iter < poiData.data.length; iter++) {
            myPoints.push({
              id: iter,
              coordinates: poiData.data[iter].attributes.coordinates,
            });
          }
        }
        for (let iter = 0; iter < myPoints.length; iter++) {
          let curPayload = {
            origin: myPoints[iter].coordinates.origin,
            destination: myPoints[iter].coordinates.destination,
            maximum_incline: "20",
            minimum_width: 0.815,
            surface_type: "cobblestone",
            profileChoice: "wheelchair",
            analysisid: uuidv4(),
          };

          await this.$store.dispatch(
            "modules/mapModule/PROCESS_SIMULATION_DATA_UNCORRECTED",
            curPayload
          );
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_SIMULATION_DATA_CORRECTED",
            curPayload
          );
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_SIMULATION_DATA_NOATTRIBUTE",
            curPayload
          );
        }
      } catch (err) {
        console.log(err);
      }
    },
    async simulationCorrectedRunner(origin, destination) {
      try {
        let myPoints = [];
        let controlledPoiData = await this.$axios.$get(
          "/api/poicontrollgroups"
        );
        if (controlledPoiData) {
          console.log(controlledPoiData);
          for (let iter = 0; iter < controlledPoiData.data.length; iter++) {
            myPoints.push({
              id: iter,
              coordinates: controlledPoiData.data[iter].attributes.coordinates,
            });
          }
        }
        console.log(myPoints);
        for (let iter = 0; iter < myPoints.length; iter++) {
          let curPayload = {
            origin: myPoints[iter].coordinates.origin,
            destination: myPoints[iter].coordinates.destination,
            maximum_incline: "20",
            surface_type: "cobblestone",
          };

          this.$store.dispatch(
            "modules/mapModule/CORRECTED_PROCESS_SIMULATION_DATA",
            curPayload
          );
        }
      } catch (err) {
        console.log(err);
      }
    },

    async runBulkCalculation(inclinepref, surface_pref) {
      try {
        let myPoints = [];
        let controlledPoiData = await this.$axios.$get(
          "/api/poicontrollgroups"
        );
        if (controlledPoiData) {
          for (let iter = 0; iter < controlledPoiData.data.length; iter++) {
            myPoints.push({
              id: iter,
              coordinates: controlledPoiData.data[iter].attributes.coordinates,
            });
          }
        }
        for (let iter = 0; iter < myPoints.length; iter++) {
          let curPayload = {
            origin: myPoints[iter].coordinates.origin,
            destination: myPoints[iter].coordinates.destination,
            maximum_incline: "20",
            surface_type: "cobblestone",
            analysisid: uuid(),
            profileChoice: "wheelchair",
            inclinepref: inclinepref,
            surface_pref: surface_pref,
          };

          await this.$store.dispatch(
            "modules/mapModule/UNCORRECTED_PROCESS_SIMULATION_DATA",
            curPayload
          );

          await this.$store.dispatch(
            "modules/mapModule/CORRECTED_PROCESS_SIMULATION_DATA",
            curPayload
          );
        }
      } catch (err) {
        console.log(err);
      }
    },

    togglePoiCreation() {
      console.log("Enable Poi Creation");
      this.pickPoiLocation = true;
    },
    async savePoiLocations(groupname, poilist) {
      try {
        let payload = { data: { groupname: groupname, locations: poilist } };
        let myResult = await this.$axios.$post("/api/poilocations", payload);
        if (myResult) {
          console.log(myResult);
        }
      } catch (err) {
        console.log(err);
      }
    },
    // This function will take the first 4 poi groups from data database you have created and will use them for the random pair poi generator
    async getPoiGroup() {
      try {
        let myResult = await this.$axios.$get("/api/poilocations");
        if (myResult) {
          this.poigroup1 = myResult.data[0].attributes.locations; // topleft
          this.poigroup2 = myResult.data[1].attributes.locations; // bottomleft
          this.poigroup3 = myResult.data[2].attributes.locations; // bottomright
          this.poigroup4 = myResult.data[3].attributes.locations; // topright
        }
      } catch (err) {
        console.log(err);
      }
    },
    addMarker(event) {
      if (this.pickPoiLocation == true) {
        console.log("Adding POI Location");
        console.log("lat : " + event.latlng.lat);
        console.log("lng : " + event.latlng.lng);
        this.defined_poi.push([event.latlng.lat, event.latlng.lng]);
        this.pickPoiLocation = false;
      }
    },
  },
};
</script>
