<template>
  <v-row justify="center" align="center">
    <v-col>
      <mapUserComponent></mapUserComponent>
    </v-col>
  </v-row>
</template>

<script>
import mapUserComponent from "~/components/MapUserComponent";
// Add your api_key here
export default {
  name: "LandingPage",
  middleware: "auth",
  components: {
    mapUserComponent: mapUserComponent,
  },
  layout: "profile",
  data() {
    return {
      bounderyBox: [8.522687, 47.36217, 8.554058, 47.383329],
      urlMap: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        'Leaflet | OpenStreetMaps | &copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      centerMap: [47.37212934247628, 8.54212290997998],
      gettingLocation:false,
      location:""
    };
  },
  created() {},
  mounted() {
    this.getUserProfile();
    this.locateMe();
  },
  methods: {
    async getLocation() {
      return new Promise((resolve, reject) => {
        if (!("geolocation" in navigator)) {
          reject(new Error("Geolocation is not available."));
        }
        navigator.geolocation.getCurrentPosition(
          (pos) => {
            resolve(pos);
          },
          (err) => {
            reject(err);
          }
        );
      });
    },
    async locateMe() {
      this.gettingLocation = true;
      try {
        this.gettingLocation = false;
        this.location = await this.getLocation();
      } catch (e) {
        this.gettingLocation = false;
        console.log(e);        
      }
    },

    async getUserProfile() {
      this.$store.dispatch("modules/userModule/GET_USER_PROFILE_DETAILS");
    },
    async attacheRoutingLibrary() {
      // This function is called when the map has been successfully rendered
      await import("leaflet-routing-machine").then(() => {
        console.log(this.$L);
      });
    },

    addMarker(event) {
      if (this.startStatusMarker == true && this.endStatusMarker == false) {
        this.startMarker = { lat: event.latlng.lat, lng: event.latlng.lng };
        this.myMarkers.push([event.latlng.lat, event.latlng.lng]);
        // console.log(this.startMarker);
        this.startStatusMarker = false;
      }
      if (this.endStatusMarker == true && this.startStatusMarker == false) {
        this.endMarker = { lat: event.latlng.lat, lng: event.latlng.lng };
        this.myMarkers.push([event.latlng.lat, event.latlng.lng]);
        // console.log(this.endMarker);
        this.endStatusMarker = false;
      } else {
        console.log(event.latlng.lat, event.latlng.lng);
      }
    },
  },
};
</script>
<style>
.example-custom-control {
  background: #fff;
  padding: 0 0.5em;
  border: 1px solid #aaa;
  border-radius: 0.1em;
}
</style>
