<template>
  <v-row>
    <v-col
      cols="12"
      lg="7"
      xl="6"
      class="primary d-none d-md-flex align-center justify-center"
    >
      <v-container>
        <div class="pa-10">
          <v-row justify="center">
            <v-col cols="8" xl="5">
              <div>
                <h2 class="display-1 white--text font-weight-medium">
                  Masters Thesis
                </h2>
                <h3
                  class="subtitle-1 mt-4 white--text op-5 font-weight-regular"
                >
                  Accessible Routing for People with Mobility Impairments.
                </h3>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-col>
    <v-col cols="12" lg="5" xl="6" class="d-flex align-center">
      <v-container>
        <div class="pa-7 pa-sm-12">
          <v-row>
            <v-col cols="12" lg="9" xl="6">
              <h2 class="font-weight-bold mt-4 blue-grey--text text--darken-2">
                Sign Up
              </h2>
              <h6 class="subtitle-1">
                Don't have an account?
                <a href="/login" class="text-decoration-none">Sign in</a>
              </h6>
              <v-alert type="error" v-if="errors && errors.email">
                {{ errors.email.value }}
              </v-alert>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                action="/pages/boxedlogin"
              >
                <v-text-field
                  v-model="uname"
                  label="Display Name"
                  class="mt-4"
                  required
                  outlined
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                  outlined
                ></v-text-field>
                <v-text-field
                  v-model="password"
                  :counter="10"
                  :rules="passwordRules"
                  label="Password"
                  required
                  outlined
                  :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show ? 'text' : 'password'"
                  @click:append="toggleShow"
                ></v-text-field>

                <!-- <div class="d-block d-sm-flex align-center mb-4 mb-sm-0">
                  <v-checkbox
                    v-model="checkbox"
                    :rules="[(v) => !!v || 'You must agree to continue!']"
                    label="I agree to the terms and privacy"
                    required
                  ></v-checkbox>
                </div> -->
                <v-btn
                  :disabled="!valid"
                  color="primary"
                  block
                  class="mr-4"
                  submit
                  @click="submit"
                  >Sign Up</v-btn
                >
              </v-form>
              <v-dialog v-model="dialog" persistent width="300">
                <v-card color="primary" dark class="pt-3">
                  <v-card-text>
                    Signing up ...
                    <v-progress-linear
                      indeterminate
                      color="white"
                      class="mb-0"
                    ></v-progress-linear>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-col>
          </v-row>
        </div>
      </v-container>
    </v-col>
  </v-row>
</template>

<script>
import axios from "axios";
import { customAlphabet } from "nanoid";
const nanoid = customAlphabet("1234567890", 18);
export default {
  layout: "blankLayout",
  name: "FullLogin",
  middleware: "auth",
  auth: "guest",
  data: () => ({
    valid: true,
    errors: null,
    uname: null,
    password: null,
    dialog: false,
    show: false,
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) =>
        (v && v.length <= 10) || "Password must be less than 10 characters",
    ],
    email: null,
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    checkbox: true,
  }),
  methods: {
    toggleShow() {
      this.show = !this.show;
    },
    async submit() {
      try {
        this.$refs.form.validate();
        if (this.$refs.form.validate(true)) {
          this.dialog = true;
          let myResult = await axios.post(`${this.$config.ANALYSIS_CMS_ENDPOINT}/api/auth/local/register`, {
            username: this.uname,
            email: this.email,
            password: this.password,
          });
          if (myResult) {
            let profilePayload = {
              data: {
                profileid: nanoid(),
                userid: myResult.data.user.id,
              },
            };
            let myProfile = await axios.post(
              `${this.$config.ANALYSIS_CMS_ENDPOINT}/api/profiles`,
              profilePayload
            );
            if (myProfile.data) {
              this.$router.push({
                name: "register-success",
                params: { registered: "yes" },
              });
            }
          }
        }
      } catch (err) {
        console.log(err);
        if (err) {
          this.dialog = false;
          this.$toast.error(err.message);
        }
      }
    },
  },
};
</script>
