<template>
  <div id="profilePage">
    <v-container>
      <v-card>
        <v-card-title>
          <v-row>
            <v-col
              ><v-btn @click="BACK_TO_MAP_REDIRECT">Back To Map</v-btn></v-col
            >
            <v-col
              ><h2>Profile Page</h2>
              <v-card-subtitle
                >ID : {{ GET_USER_PROFILE_DETAILS.profileid }}</v-card-subtitle
              ></v-col
            >
            <v-col align="right">
              <v-btn @click="SAVE_USER_PROFILE" color="success">Save</v-btn>
            </v-col>
          </v-row>
        </v-card-title>

        <v-divider></v-divider>
        <v-card-text>
          <v-card-subtitle><h4>User Info</h4></v-card-subtitle>
          <v-container fluid>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Given Name"
                  :value="givenname"
                  v-model="givenname"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Family Name"
                  :value="familyname"
                  v-model="familyname"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Height"
                  :value="userheight"
                  v-model="userheight"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Weight"
                  :value="userweight"
                  v-model="userweight"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Age"
                  :value="userage"
                  v-model="userage"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text>
          <v-card-subtitle><h4>User Preference</h4></v-card-subtitle>
          <v-container fluid>
            <v-row>
              <v-col cols="12" sm="6">
                <v-chip>
                  Current Profile Type : {{ currentProfileType }}</v-chip
                >
                <v-select
                  :items="profileType"
                  item-text="profilename"
                  item-value="id"
                  color="blue"
                  label="Profile Type"
                  v-model="selectedProfileType"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12" sm="6">
                <v-chip>
                  Current Routing Type : {{ currentRoutingType }}</v-chip
                >
                <v-select
                  :items="routingType"
                  item-text="routename"
                  item-value="id"
                  color="pink"
                  label="Route Preference"
                  v-model="selectedRoutingType"
                  required
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6">
                <v-slider
                  color="orange"
                  label="Max Inclination (%)"
                  min="3"
                  max="15"
                  v-model="selectedMaxIncline"
                  :value="selectedMaxIncline"
                  thumb-label
                ></v-slider>
              </v-col>
              <v-col cols="12" sm="6">
                <v-chip>
                  Current Surface Type : {{ currentSurfaceType }}</v-chip
                >
                <v-select
                  :items="surfaceType"
                  item-text="surfacename"
                  item-value="surfaceval"
                  color="pink"
                  label="Surface Type Preference"
                  v-model="selectedSurfaceType"
                  required
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>
<script type="text/javascript">
import { mapState, mapGetters } from "vuex";
export default {
  middleware: "auth",
  layout: "profile",
  data() {
    return {
      isEdit: false,
      payload: {},
      givenname: "",
      familyname: "",
      userage: 0,
      userheight: 0,
      userweight: 0,
      selectedProfileType: "",
      selectedRoutingType: "",
      selectedSurfaceType: "",
      currentProfileType: "",
      currentRoutingType: "",
      currentSurfaceType: "",
      selectedMaxIncline: 0,
      userid: 0,
      routingType: [
        { id: 1, routename: "Shortest" },
        { id: 2, routename: "Fastest" },
        { id: 3, routename: "Recommended" },
      ],
      profileType: [
        { id: 1, profilename: "Walking" },
        { id: 2, profilename: "Wheelchair" },
        { id: 3, profilename: "Visually Impaired" },
      ],
      surfaceType: [
        { id: 1, surfaceval: "asphalt" ,surfacename:"Asphalt"},
        { id: 2, surfaceval: "cobblestone" ,surfacename:"Cobblestone"},
        { id: 3, surfaceval: "paved" ,surfacename:"Paved"},
        { id: 4, surfaceval: "concrete" ,surfacename:"Concrete"},
        { id: 5, surfaceval: "paving_stones" ,surfacename:"Paving Stones"},
        { id: 6, surfaceval: "sett" ,surfacename:"Sett"},
      ],
    };
  },
  computed: {
    ...mapGetters({
      GET_USER_PROFILE_DETAILS: "modules/userModule/GET_USER_PROFILE_DETAILS",
    }),
  },
  mounted() {
    this.LOAD_USER_PROFILE();
  },
  created() {},
  methods: {
    BACK_TO_MAP_REDIRECT() {
      this.$router.push("/");
    },
    PARSE_ROUTINGTYPE(val) {
      console.log(`check val : ${val}`);
      if (val == "walking") {
        return 1;
      } else if (val == "wheelchair") {
        return 2;
      } else if (val == "blind") {
        return 3;
      }
    },

    PARSE_PROFILETYPE(val) {
      console.log(`check val : ${val}`);
      if (val == "shortest") {
        return 1;
      } else if (val == "fastest") {
        return 2;
      } else if (val == "recommended") {
        return 3;
      }
    },

    async USER_PROFILE_TYPE_PARSER(meta) {
      try {
        console.log(`Profile ${meta}`);
        if (meta.profiletype == "walking") {
          this.selectedProfileType = 1;
        }
        if (meta.profiletype == "wheelchair") {
          this.selectedProfileType = 2;
        } else {
          this.selectedProfileType = 3;
        }
      } catch (err) {
        console.log(err);
      }
    },
    async USER_ROUTING_TYPE_PARSER(meta) {
      try {
        console.log(`Routing ${meta}`);
        if (meta.routingtype == "shortest") {
          this.selectedRoutingType = 1;
        }
        if (meta.routingtype == "fastest") {
          this.selectedRoutingType = 2;
        } else {
          this.selectedRoutingType = 3;
        }
      } catch (err) {
        console.log(err);
      }
    },
    async LOAD_USER_PROFILE() {
      try {
        let app = this;
        this.$store
          .dispatch("modules/userModule/GET_USER_PROFILE_DETAILS")
          .then((response) => {
            console.log(response.data);
            app.currentRoutingType = response.data.routingtype;
            app.currentProfileType = response.data.profiletype;
            app.selectedMaxIncline = response.data.maxincline;
            app.currentSurfaceType = response.data.surfacetype;
            app.givenname = response.data.givenname;
            app.familyname = response.data.familyname;
            app.userage = response.data.age;
            app.userid = response.data.id;
            app.userheight = response.data.height;
            app.userweight = response.data.weight;
          });
      } catch (err) {
        console.log(err);
      }
    },
    async SAVE_USER_PROFILE() {
      try {
        function parseRoutingTypeValue(val) {
          if (val == 1) {
            return "shortest";
          } else if (val == 2) {
            return "fastest";
          } else if (val == 3) {
            return "recommended";
          } else {
            return "recommended";
          }
        }
        function parseProfileTypeValue(val) {
          if (val == 1) {
            return "walking";
          } else if (val == 2) {
            return "wheelchair";
          } else if (val == 3) {
            return "blind";
          } else {
            return "walking";
          }
        }

        let payload = {
          data: {
            age: 30,
            givenname: this.givenname,
            familyname: this.familyname,
            age: this.userage,
            maxincline: this.selectedMaxIncline,
            routingtype: parseRoutingTypeValue(this.selectedRoutingType),
            profiletype: parseProfileTypeValue(this.selectedProfileType),
            surfacetype: this.selectedSurfaceType,
            height: this.userheight,
            weight: this.userweight,
          },
        };
        let myResult = await this.$axios.$put(
          `/api/profiles/${this.userid}`,
          payload
        );
        if (myResult) {
          this.$toast.success("Successfully Updated User Profile");
          console.log(myResult);
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
<style></style>
