<template>
  <div id="simulation-page">
    <MappingBar></MappingBar>
    <v-container fluid>
      <v-row>
        <v-col>
          <div id="map-wrap2" style="height: 600px; width: 100%">
            <client-only>
              <l-map
                @click="addMarker"
                @ready="attacheRoutingLibrary()"
                ref="myLeafletMap2"
                :zoom="15"
                :center="centerMap"
                style="z-index: 0"
              >
                <l-tile-layer :url="mapUrl"></l-tile-layer>
                <l-circle
                  v-for="item in GET_COR_ROUTING_NODE_BUCKET"
                  :key="item._id"
                  :lat-lng="item"
                  :fillColor="circle.color"
                  :radius="circle.radius"
                  :color="circle.color"
                  :fillOpacity="1"
                  :visible="corNodeVisibility"
                />
                <l-circle
                  v-for="item in GET_UNCOR_ROUTING_NODE_BUCKET"
                  :key="item._id"
                  :lat-lng="item"
                  :fillColor="circle.color"
                  :radius="circle.radius"
                  :color="circle.color"
                  :fillOpacity="1"
                  :visible="uncorNodeVisibility"
                />
                <l-circle
                  v-for="item in GET_NOATTR_ROUTING_NODE_BUCKET"
                  :key="item._id"
                  :lat-lng="item"
                  :fillColor="circle.color"
                  :radius="circle.radius"
                  :color="circle.color"
                  :fillOpacity="1"
                  :visible="noattrNodeVisibility"
                />
                <l-marker
                  v-for="item in poiBlueList"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                  <l-icon
                    :icon-size="dynamicSize"
                    :icon-anchor="dynamicAnchor"
                    icon-url="/markers/marker-icon-blue.png"
                  />
                </l-marker>
                <l-marker
                  v-for="item in poiRedList"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                </l-marker>
                <l-marker
                  v-for="item in poiYellowList"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                </l-marker>
                <l-marker
                  v-for="item in poiGreenList"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                </l-marker>
                <l-marker
                  v-for="item in markerList"
                  :draggable="true"
                  :key="item._id"
                  :lat-lng="item"
                ></l-marker>
                <l-marker
                  v-for="item in GET_BARRIER_COORDINATES"
                  :draggable="false"
                  :key="item._id"
                  :lat-lng="item"
                >
                </l-marker>

                <l-geo-json :geojson="GET_BUFFERED_BARRIERS"> </l-geo-json>

                <l-control class="example-custom-control">
                  Navigation Controller                
                  <v-row>
                    <v-col>Uncorrected (Green)</v-col>
                    <v-col>
                      <v-switch dense v-model="greenRoute"></v-switch
                    ></v-col>
                  </v-row>                 
                  <v-row>
                    <v-col>Corrected (Red)</v-col>
                    <v-col>
                      <v-switch dense v-model="redRoute"></v-switch
                    ></v-col>
                  </v-row>
                   <v-row>
                    <v-col>No Attribute (Violet)</v-col>
                    <v-col>
                      <v-switch dense v-model="violetRoute"></v-switch
                    ></v-col>
                  </v-row>
                  <v-row>
                    <v-col>Google Routing</v-col>
                    <v-col>
                      <v-switch dense v-model="gcpRoute"></v-switch
                    ></v-col>
                  </v-row>
                  <v-row>
                    <v-col>Corrected Nodes</v-col>
                    <v-col>
                      <v-switch dense v-model="corNodeVisibility"></v-switch
                    ></v-col>
                  </v-row>
                  <v-row>
                    <v-col>Uncorrected Nodes</v-col>
                    <v-col>
                      <v-switch dense v-model="uncorNodeVisibility"></v-switch
                    ></v-col>
                  </v-row>
                  <v-row>
                    <v-col>NoAttr Nodes</v-col>
                    <v-col>
                      <v-switch dense v-model="noattrNodeVisibility"></v-switch
                    ></v-col>
                  </v-row>
                </l-control>
                <!-- <l-polyline
                      :lat-lngs="SRT_LCL_ROUTE_COORDINATES"
                      color="blue"
                      :opacity="100"
                      :visible="blueRoute"
                    ></l-polyline> -->
                <!-- <l-polyline
                      :lat-lngs="FTS_LCL_ROUTE_COORDINATES"
                      color="yellow"
                      :opacity="100"
                      :visible="yellowRoute"
                    ></l-polyline> -->
                <l-polyline
                  :lat-lngs="REC_LCL_ROUTE_COORDINATES"
                  color="green"
                  :opacity="100"
                  :visible="greenRoute"
                ></l-polyline>
                <l-polyline
                  :lat-lngs="REC_LIV_ROUTE_COORDINATES"
                  color="red"
                  :opacity="100"
                  :visible="redRoute"
                ></l-polyline>
                <!-- <l-polyline
                      :lat-lngs="SRT_LIV_ROUTE_COORDINATES"
                      color="orange"
                      :opacity="100"
                      :visible="orangeRoute"
                    ></l-polyline> -->
                <l-polyline
                      :lat-lngs="GET_NOATTR_ROUTE_COORDINATES"
                      color="purple"
                      :opacity="100"
                      :visible="violetRoute"
                    ></l-polyline>
                <l-polyline
                  :lat-lngs="GET_GCP_ROUTE_COORDINATES"
                  color="#2980B9"
                  :opacity="100"
                  :visible="gcpRoute"
                ></l-polyline>
              </l-map>
            </client-only>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <StatisticsBoxComponent
            :rawWacUncorrectedData="GET_RAW_UNCORRECTED_WAC_DATA"
            :rawWacCorrectedData="GET_RAW_CORRECTED_WAC_DATA"
            :rawWacNoAttrData="GET_RAW_NOATTR_WAC_DATA"
            :wacCorrectedScore="GET_WAC_CORRECTED_SCORE"
            :wacUncorrectedScore="GET_WAC_UNCORRECTED_SCORE"
            :wacNoAttrScore="GET_WAC_NOATTR_SCORE"
            :wacNoAttrData="GET_WAC_NOATTR_ANALYSIS"
            :wacCorrectedData="GET_WAC_CORRECTED_ANALYSIS"
            :wacUncorrectedData="GET_WAC_UNCORRECTED_ANALYSIS"
            :uncorrectedData="GET_LCL_RUNNING_ANALYSIS"
            :correctedData="GET_LIV_RUNNING_ANALYSIS"
          ></StatisticsBoxComponent>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import * as turf from "@turf/turf";
import { mapState, mapGetters } from "vuex";
import MetaTabs from "~/components/MetaTabs";
import MappingBar from "../../components/MappingBar.vue";
import StatisticsBoxComponent from "~/components/simulation/StatisticsBoxComponent.vue";
export default {
  name: "IndexPage",
  middleware: "auth",
  components: {
    MetaTabs,
    MappingBar,
    StatisticsBoxComponent,
  },
  data() {
    return {
      circle: {
        center: [47.374706, 8.544585],
        radius: 1,
        color: "yellow",
      },
      poiBlueList: [],
      poiYellowList: [],
      poiRedList: [],
      poiGreenList: [],
      barriers: [],
      greenRoute: true,
      redRoute: true,
      blueRoute: true,
      pinkRoute: true,
      orangeRoute: true,
      violetRoute: true,
      yellowRoute: true,
      gcpRoute: false,
      corNodeVisibility: false,
      uncorNodeVisibility: false,
      noattrNodeVisibility: false,
      marker: {
        position: { lng: 8.538373, lat: 47.372736 },
      },
      startMarker: {},
      endMarker: {},
      bounderyBox: [8.522687, 47.36217, 8.554058, 47.383329],
      mapUrl: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        'Leaflet | OpenStreetMaps | &copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      centerMap: [47.37212934247628, 8.54212290997998],
      polylineWheelchairRoute: [],
      osmWayIds: [],
      osmLocalWayIds: [],
      polyline: {
        latlngs: [],
      },
    };
  },
  created() {},
  computed: {
    // prettier-ignore
    ...mapGetters({
      MAP_START_COORDS: "modules/mapModule/GET_START_ENDPOINT",
      MAP_END_COORDS: "modules/mapModule/GET_END_ENDPOINT",
      START_COORDS_TOGGLE: "modules/mapModule/GET_START_ENDPOINT_TOGGLE",
      END_COORDS_TOGGLE: "modules/mapModule/GET_END_ENDPOINT_TOGGLE",
      PROCESSED_LOCAL_POLYLINE: "modules/mapModule/PROCESSED_LOCAL_POLYLINE",
      PROCESSED_LIVE_POLYLINE: "modules/mapModule/PROCESSED_LIVE_POLYLINE",
      GET_TAG_FEATURE_LIST: "modules/mapModule/GET_TAG_FEATURE_LIST",
      REC_LCL_ROUTE_COORDINATES: "modules/mapModule/REC_LCL_ROUTE_COORDINATES",
      FTS_LCL_ROUTE_COORDINATES: "modules/mapModule/FTS_LCL_ROUTE_COORDINATES",
      SRT_LCL_ROUTE_COORDINATES: "modules/mapModule/SRT_LCL_ROUTE_COORDINATES",
      SRT_LIV_ROUTE_COORDINATES: "modules/mapModule/SRT_LIV_ROUTE_COORDINATES",
      FTS_LIV_ROUTE_COORDINATES: "modules/mapModule/FTS_LIV_ROUTE_COORDINATES",
      REC_LIV_ROUTE_COORDINATES: "modules/mapModule/REC_LIV_ROUTE_COORDINATES",
      GET_NOATTR_ROUTE_COORDINATES : "modules/mapModule/GET_NOATTR_ROUTE_COORDINATES",
      GET_BARRIER_TOGGLE_STATUS: "modules/mapModule/GET_BARRIER_TOGGLE_STATUS",
      GET_BARRIER_COORDINATES: "modules/mapModule/GET_BARRIER_COORDINATES",
      GET_BUFFERED_BARRIERS: "modules/mapModule/GET_BUFFERED_BARRIERS",
      GET_GCP_ROUTE_COORDINATES: "modules/mapModule/GET_GCP_ROUTE_COORDINATES",
      GET_LCL_RUNNING_ANALYSIS: "modules/mapModule/GET_LCL_RUNNING_ANALYSIS",
      GET_LIV_RUNNING_ANALYSIS: "modules/mapModule/GET_LIV_RUNNING_ANALYSIS",
      GET_WAC_UNCORRECTED_ANALYSIS: "modules/mapModule/GET_WAC_UNCORRECTED_ANALYSIS",
      GET_WAC_CORRECTED_ANALYSIS: "modules/mapModule/GET_WAC_CORRECTED_ANALYSIS",
      GET_WAC_CORRECTED_SCORE: "modules/mapModule/GET_WAC_CORRECTED_SCORE",
      GET_WAC_UNCORRECTED_SCORE: "modules/mapModule/GET_WAC_UNCORRECTED_SCORE",
      GET_RAW_CORRECTED_WAC_DATA: "modules/mapModule/GET_RAW_CORRECTED_WAC_DATA",
      GET_RAW_UNCORRECTED_WAC_DATA: "modules/mapModule/GET_RAW_UNCORRECTED_WAC_DATA",
      GET_COR_ROUTING_NODE_BUCKET: "modules/mapModule/GET_COR_ROUTING_NODE_BUCKET",
      GET_UNCOR_ROUTING_NODE_BUCKET: "modules/mapModule/GET_UNCOR_ROUTING_NODE_BUCKET",
      GET_NOATTR_ROUTING_NODE_BUCKET: "modules/mapModule/GET_NOATTR_ROUTING_NODE_BUCKET",
      GET_RAW_NOATTR_WAC_DATA: "modules/mapModule/GET_RAW_NOATTR_WAC_DATA",
      GET_WAC_NOATTR_ANALYSIS: "modules/mapModule/GET_WAC_NOATTR_ANALYSIS",
      GET_WAC_NOATTR_SCORE:"modules/mapModule/GET_WAC_NOATTR_SCORE",
    }),
    ...mapState({
      markerList: (state) => state.modules.mapModule.markerList,
    }),
    dynamicSize() {
      return [this.iconSize, this.iconSize * 1.15];
    },
    dynamicAnchor() {
      return [this.iconSize / 2, this.iconSize * 1.15];
    },
  },
  methods: {
    async attacheRoutingLibrary() {
      // This function is called when the map has been successfully rendered
      await import("leaflet-routing-machine").then(() => {
        console.log(this.$L);
      });
    },

    addMarker(event) {
      if (this.GET_BARRIER_TOGGLE_STATUS == true) {
        console.log("adding Barrier", event);
        this.$store.dispatch(
          "modules/mapModule/TOGGLE_ADD_BARRIER_OPTION_OFF",
          { curState: false }
        );
        this.$store.dispatch("modules/mapModule/ADD_BARRIER_OPTION", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });

        let center = [event.latlng.lng, event.latlng.lat];
        let radius = 2;
        let options = { steps: 10, units: "meters" };
        let circle = turf.circle(center, radius, options);
        this.$store.dispatch(
          "modules/mapModule/ADD_BUFFERED_BARRIER_COORDINATES",
          circle
        );
      }
      if (this.START_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_START_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      }
      if (this.END_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_END_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      } else {
        console.log(event.latlng.lat, event.latlng.lng);
      }
    },
  },
};
</script>
<style>
.example-custom-control {
  background: #fff;
  padding: 0 0.5em;
  border: 1px solid #aaa;
  border-radius: 0.1em;
}
</style>
