<template>
  <div id="analysis-area">
    <v-card>
      <v-toolbar flat color="primary" dark>
        <v-toolbar-title>Route Statistics</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card-text>
        {{ analysisData }}

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Calories</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in analysisData" :key="item.name">
                <td>{{ item.name }}</td>
                <td>{{ item.calories }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "analysisAreaBoxComponent",
  props: {
    analysisData: {},
  },
};
</script>
