<template>
  <div id="direction-list">
    <v-card flat>
      <v-card-title>Directions</v-card-title>
      <v-card-text>
        <v-expansion-panels>
          <v-expansion-panel v-for="(item, i) in directionList" :key="i">
            <v-expansion-panel-header>
              {{item.instruction}}
            </v-expansion-panel-header>
            <v-expansion-panel-content>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "DirectionListComponent",
  props: {
    directionList:[],
  },
  computed: {},
  mounted() {},
  data() {},
};
</script>
