<template>
  <div id="elevation-component">
    <v-container fluid>
      <v-row
        ><v-col
          ><h4>{{ titleChartBox }}</h4></v-col
        ></v-row
      >
      <client-only>
        <elevationChart
          width="100%"
          type="area"
          :options="elevationXOption"
          :series="elevationDataSeries"
        >
        </elevationChart>
      </client-only>
    </v-container>
  </div>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
export default {
  name: "ElevationComponent",
  components: {
    elevationChart: VueApexCharts,
  },
  props: { 
    titleChartBox: String,
    elevationData: {
      type: Object,
      default() {
        return {
          series: [
            {
              name: "Dummy Data",
              data: [55, 62, 89, 66, 98, 72, 101, 75, 94, 120, 117, 139],
            },
          ],
        };
      },
    },
    elevationXOption: {
      type: Object,
      default() {
        return {
          options: {
            xaxis: {
              categories: [],
              labels: {
                rotate: 0, // no need to rotate since hiding labels gives plenty of room
                hideOverlappingLabels: false, // all labels must be rendered
              },
            },
          },
        };
      },
    },
  },
  computed: {
    elevationXaxis() {
      return this.elevationXOption.option;
    },
    elevationDataSeries() {
      return this.elevationData.series;
    },
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
<style type="scss">
.apexcharts-xaxis-label {
  display: none;
  &:nth-child(5n) {
    display: revert;
  }
}
</style>
