<template>
  <div id="incline-component">
    <v-container fluid>
      <v-row><v-col><h4>Incline Chart</h4></v-col></v-row>
      <client-only>
        <inclineChart
          width="100%"
          type="area"
          :options="inclineXOption"
          :series="inclineDataSeries"
        >
        </inclineChart>
      </client-only>
    </v-container>
  </div>
</template>
<script>
import VueApexCharts from "vue-apexcharts";
export default {
  name: "InclineComponent",
  components: {
    inclineChart: VueApexCharts,
  },
  props: {
    inclineData: {
      type: Object,
      default() {
        return {
          series: [
            {
              name: "Dummy Data",
              data: [55, 62, 89, 66, 98, 72, 101, 75, 94, 120, 117, 139],
            },
          ],
        };
      },
    },
    inclineXOption: {
      type: Object,
      default() {
        return {
          options: {
            xaxis: {
              categories: [              
              ],
            },
          },
        };
      },
    },
  },
  computed: {
    inclineXaxis() {
      return this.inclineXOption.option;
    },
    inclineDataSeries() {
      return this.inclineData.series;
    },
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>
