<template>
  <div id="mapLeaflet">
    <v-container fluid>
      <div id="map-wrap" style="height: 820px; width: 100%">
        <client-only>
          <l-map
            @click="addMarker"
            @ready="attacheRoutingLibrary()"
            ref="myLeafletMap"
            :zoom="15"
            :center="centerMap"
            style="z-index: 0"
          >
            <l-tile-layer :url="mapUrl"></l-tile-layer>
            <l-marker
              v-for="item in GET_MARKER_LIST"
              :draggable="true"
              :key="item._id"
              :lat-lng="item"
            ></l-marker>
            <l-marker
              v-for="item in GET_BARRIER_COORDINATES"
              :draggable="false"
              :key="item._id"
              :lat-lng="item"
            >
            </l-marker>
            <l-geo-json :geojson="GET_BUFFERED_BARRIERS"> </l-geo-json>
            <l-control class="example-custom-control">
              Navigation Controller -->
              <v-row>
                <v-col>Blue (local shortest)</v-col>
                <v-col> <v-switch dense v-model="blueRoute"></v-switch></v-col>
              </v-row>
              <v-row>
                <v-col>Red (local fastest)</v-col>
                <v-col> <v-switch dense v-model="redRoute"></v-switch></v-col>
              </v-row>
              <v-row>
                <v-col>Green (local recommended)</v-col>
                <v-col> <v-switch dense v-model="greenRoute"></v-switch></v-col>
              </v-row>
              <v-row>
                <v-col>Orange (shortest)</v-col>
                <v-col>
                  <v-switch dense v-model="orangeRoute"></v-switch
                ></v-col>
              </v-row>
              <v-row>
                <v-col>Violet (fastest)</v-col>
                <v-col>
                  <v-switch dense v-model="violetRoute"></v-switch
                ></v-col>
              </v-row>
              <v-row>
                <v-col>Yellow (recommended)</v-col>
                <v-col> <v-switch dense v-model="pinkRoute"></v-switch></v-col>
              </v-row>
            </l-control>
            <l-polyline
              :lat-lngs="SRT_LCL_ROUTE_COORDINATES"
              color="blue"
              :opacity="100"
              :visible="blueRoute"
            ></l-polyline>
            <l-polyline
              :lat-lngs="FTS_LCL_ROUTE_COORDINATES"
              color="red"
              :opacity="100"
              :visible="redRoute"
            ></l-polyline>
            <l-polyline
              :lat-lngs="REC_LCL_ROUTE_COORDINATES"
              color="green"
              :opacity="100"
              :visible="greenRoute"
            ></l-polyline>
            <l-polyline
              :lat-lngs="REC_LIV_ROUTE_COORDINATES"
              color="yellow"
              :opacity="100"
              :visible="pinkRoute"
            ></l-polyline>
            <l-polyline
              :lat-lngs="SRT_LIV_ROUTE_COORDINATES"
              color="orange"
              :opacity="100"
              :visible="orangeRoute"
            ></l-polyline>
            <l-polyline
              :lat-lngs="FTS_LIV_ROUTE_COORDINATES"
              color="purple"
              :opacity="100"
              :visible="violetRoute"
            ></l-polyline>
          </l-map>
        </client-only>
      </div>
    </v-container>
  </div>
</template>
<script>
import * as turf from "@turf/turf";
import { mapState, mapGetters } from "vuex";
import axios from "axios";
export default {
  name: "mapLeaflet",
  props: {   
  },
  mounted() {},
  data() {
    return {
      barriers: [],
      greenRoute: true,
      redRoute: true,
      blueRoute: true,
      pinkRoute: true,
      orangeRoute: true,
      violetRoute: true,
      marker: {
        position: { lng: 8.538373, lat: 47.372736 },
      },
      startMarker: {},
      endMarker: {},
      bounderyBox: [8.522687, 47.36217, 8.554058, 47.383329],
      mapUrl: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        'Leaflet | OpenStreetMaps | &copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      centerMap: [47.37212934247628, 8.54212290997998],
      polylineWheelchairRoute: [],
      osmWayIds: [],
      osmLocalWayIds: [],
      polyline: {
        latlngs: [],
      },
    };
  },
  computed: {
    ...mapGetters({
      MAP_START_COORDS: "modules/mapModule/GET_START_ENDPOINT",
      MAP_END_COORDS: "modules/mapModule/GET_END_ENDPOINT",
      START_COORDS_TOGGLE: "modules/mapModule/GET_START_ENDPOINT_TOGGLE",
      END_COORDS_TOGGLE: "modules/mapModule/GET_END_ENDPOINT_TOGGLE",
      PROCESSED_LOCAL_POLYLINE: "modules/mapModule/PROCESSED_LOCAL_POLYLINE",
      PROCESSED_LIVE_POLYLINE: "modules/mapModule/PROCESSED_LIVE_POLYLINE",
      GET_TAG_FEATURE_LIST: "modules/mapModule/GET_TAG_FEATURE_LIST",
      REC_LCL_ROUTE_COORDINATES: "modules/mapModule/REC_LCL_ROUTE_COORDINATES",
      FTS_LCL_ROUTE_COORDINATES: "modules/mapModule/FTS_LCL_ROUTE_COORDINATES",
      SRT_LCL_ROUTE_COORDINATES: "modules/mapModule/SRT_LCL_ROUTE_COORDINATES",
      SRT_LIV_ROUTE_COORDINATES: "modules/mapModule/SRT_LIV_ROUTE_COORDINATES",
      FTS_LIV_ROUTE_COORDINATES: "modules/mapModule/FTS_LIV_ROUTE_COORDINATES",
      REC_LIV_ROUTE_COORDINATES: "modules/mapModule/REC_LIV_ROUTE_COORDINATES",
      GET_BARRIER_TOGGLE_STATUS: "modules/mapModule/GET_BARRIER_TOGGLE_STATUS",
      GET_BARRIER_COORDINATES: "modules/mapModule/GET_BARRIER_COORDINATES",
      GET_BUFFERED_BARRIERS: "modules/mapModule/GET_BUFFERED_BARRIERS",
      SRT_LCL_ROUTE_ELEVATION: "modules/mapModule/SRT_LCL_ROUTE_ELEVATION",
      GET_MARKER_LIST: "modules/mapModule/GET_MARKER_LIST",
    }),
  },
  methods: {
    async attacheRoutingLibrary() {
      // This function is called when the map has been successfully rendered
      await import("leaflet-routing-machine").then(() => {
        console.log(this.$L);
      });
    },

    addMarker(event) {
      if (this.GET_BARRIER_TOGGLE_STATUS == true) {
        console.log("adding Barrier", event);
        this.$store.dispatch(
          "modules/mapModule/TOGGLE_ADD_BARRIER_OPTION_OFF",
          { curState: false }
        );
        this.$store.dispatch("modules/mapModule/ADD_BARRIER_OPTION", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });

        let center = [event.latlng.lng, event.latlng.lat];
        let radius = 10;
        let options = { steps: 10, units: "meters" };
        let circle = turf.circle(center, radius, options);
        this.$store.dispatch(
          "modules/mapModule/ADD_BUFFERED_BARRIER_COORDINATES",
          circle
        );
      }
      if (this.START_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_START_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      }
      if (this.END_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_END_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      } else {
        console.log(event.latlng.lat, event.latlng.lng);
      }
    },
  },
};
</script>
