<template>
  <div>
    <nav>
      <!-- Sidebar -->
      <v-navigation-drawer
        v-model="drawer"
        clipped
        floating
        app
        id="main-sidebar"
        v-bind:width="325"
      >
        <!---USer Area -->

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6" v-if="$auth.loggedIn">
              {{ GET_USER_PROFILE_DETAILS.givenname }}
            </v-list-item-title>
            <v-list-item-title class="text-h6" v-else>
              NO USER
            </v-list-item-title>

            <!-- <v-list-item-subtitle> subtext </v-list-item-subtitle> -->
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-col class="d-flex">
          <v-select
            v-model="selectedProfile"
            :items="profileItems"
            item-text="profilename"
            item-value="profileval"
            label="Profile"
            outlined
          ></v-select>
        </v-col>

        <v-divider></v-divider>

        <v-col>
          <v-text-field
            outlined
            label="Start Location"
            @click:append-outer="setStartPoint"
            :value="`${MAP_START_COORDS}`"
            append-outer-icon="mdi-map-marker"
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
            outlined
            label="End Location"
            @click:append-outer="setEndPoint"
            :value="`${MAP_END_COORDS}`"
            append-outer-icon="mdi-map-marker"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            v-model="maxIncline"
            label="Max Inclination"
            placeholder="Max Inclination"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-text-field
            v-model="minimum_width"
            label="Minimum Width"
            placeholder="Minimum Width"
          ></v-text-field>
        </v-col>
        <v-col>
          <v-select
            v-model="chosensurface"
            :items="surfaceitems"
            label="Surface Types"
            outlined
          ></v-select>
        </v-col>

        <v-col
          ><v-btn
            color="success"
            block
            @click="processRoutingCoordinates(selectedProfile)"
            >Generate Route</v-btn
          ></v-col
        >
        <v-col>
          <v-btn color="warning" @click="clearRoutingCoordinates" block
            >Reset Routing</v-btn
          >
        </v-col>

        <v-col>
          <v-btn color="error" @click="toggleAddBarrierOption" block
            >Add Barriers</v-btn
          >
        </v-col>
        <v-col>
          <v-btn color="primary" @click="clearAddedBarriers" block
            >Clear Barriers</v-btn
          >
        </v-col>
        <v-col>
          <v-btn color="purple" @click="clearRoutingMarkers" dark block
            >Clear Routing Markers
          </v-btn>
        </v-col>

        <template v-slot:append>
          <v-divider></v-divider>
          <div class="pa-2">
            <p class="overline text-center">version {{ versionNo }}</p>
          </div>
        </template>
      </v-navigation-drawer>

      <!-- Topbar -->
      <v-app-bar dark app color="primary" clipped-left>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="align-center d-flex">
          <span class="title">{{ title }}</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text icon @click="gotoProfilePage">
          <v-icon>mdi-account-outline</v-icon>
        </v-btn>
        <v-app-bar-nav-icon
          @click.stop="rightDrawer = !rightDrawer"
        ></v-app-bar-nav-icon>
      </v-app-bar>
    </nav>
    <!-- Right bar -->
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      floating
      app
      id="main-sidebar"
      v-bind:width="325"
    >
      <v-list>
        <v-list-item>
          <v-list-item-title class="title"> Route Statistics</v-list-item-title>
        </v-list-item>
        <hr />
        <v-spacer></v-spacer>
        <ElevationBarComponent
          titleChartBox="Corrected_Elevation"
          :elevationData="REC_LIV_ROUTE_ELEVATION"
          :elevationXOption="{
            options: {
              xaxis: {
                categories: [],
                tickAmount: 10,
              },
            },
          }"
        ></ElevationBarComponent>
        <ElevationBarComponent
          titleChartBox="Uncorrected_Elevation"
          :elevationData="REC_LCL_ROUTE_ELEVATION"
          :elevationXOption="{
            options: {
              xaxis: {
                categories: [],
                tickAmount: 10,
              },
            },
          }"
        ></ElevationBarComponent>

        <ElevationBarComponent
          titleChartBox="No_Attribute_Elevation"
          :elevationData="REC_LCL_ROUTE_ELEVATION"
          :elevationXOption="{
            options: {
              xaxis: {
                categories: [],
                tickAmount: 10,
              },
            },
          }"
        ></ElevationBarComponent>
      </v-list>
    </v-navigation-drawer>
    <!-- Logout Dialog Box -->
    <v-dialog v-model="logoutDialog" persistent max-width="290px">
      <v-sheet rounded="xl" class="py-4 mx-auto text-center d-inline-block">
        <div>
          <v-icon style="font-size: 65px" color="warning" x-large
            >mdi-information-outline</v-icon
          >
        </div>
        <div class="text-body-2 mb-5">Are you sure you want to Logout?</div>
        <v-divider class="my-5"></v-divider>
        <div>
          <v-btn
            depressed
            color="error"
            class="mr-2"
            dark
            @click="logoutDialog = !logoutDialog"
          >
            Cancel
          </v-btn>
          <v-btn
            depressed
            color="green"
            class="ml-2"
            dark
            @click="removeUserToken"
          >
            Logout
          </v-btn>
        </div>
      </v-sheet>
    </v-dialog>
  </div>
</template>
<script>
import ElevationBarComponent from "./generic/ElevationComponent";
import DirectionComponent from "./generic/DirectionComponent";
import { mapState, mapGetters } from "vuex";
export default {
  middleware: "auth",
  components: {
    ElevationBarComponent,
    DirectionComponent,
  },
  data() {
    return {
      minWidth: 2,
      chosensurface: "cobblestone",
      surfaceitems: [
        "cobblestone",
        "asphalt",
        "sett",
        "concrete",
        "paved",
        "paving_stones",
      ],
      maxIncline: 20,
      minimum_width: 0.815,
      selectedProfile: 1,
      tabs: null,
      // startLocation: {},
      profileItems: [
        { profilename: "Walking", profileval: 0 },
        { profilename: "Wheelchair", profileval: 1 },
      ],
      logoutDialog: false,
      drawer: true,
      linksAdmin: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
        {
          to: "/user/",
          icon: "mdi-account",
          text: "User",
        },
      ],
      linksBasic: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
      ],
      linksOrgEmpty: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
      ],

      miniVariant: false,
      right: true,
      rightDrawer: false,
      select: ["English"],
      items: ["English", "French", "German"],
      versionNo: "1.0.0.0",
      title: "",
    };
  },
  mounted() {
    this.setWebTitle();
    this.setCurVersion();
  },
  computed: {
    ...mapGetters({
      GET_USER_PROFILE_DETAILS: "modules/userModule/GET_USER_PROFILE_DETAILS",
      MARKER_LIST: "modules/mapModule/GET_MARKER_LIST",
      MAP_START_COORDS: "modules/mapModule/GET_START_ENDPOINT",
      MAP_END_COORDS: "modules/mapModule/GET_END_ENDPOINT",
      LOCAL_MAP_DIRECTIONS: "modules/mapModule/GET_LOCAL_MAP_DIRECTIONS",
      GET_BUFFERED_BARRIERS: "modules/mapModule/GET_BUFFERED_BARRIERS",
      REC_LCL_ROUTE_ELEVATION: "modules/mapModule/REC_LCL_ROUTE_ELEVATION",
      REC_LIV_ROUTE_ELEVATION: "modules/mapModule/REC_LIV_ROUTE_ELEVATION",
    }),
  },
  methods: {
    gotoProfilePage() {
      this.$router.push("/profile");
    },
    clearAddedBarriers() {
      this.$store.dispatch("modules/mapModule/CLEAR_EXISTING_BARRIERS");
    },
    clearRoutingCoordinates() {
      // this.$store.dispatch("modules/mapModule/CLEAR_ROUTING_VALUES");
      location.reload();
    },
    clearRoutingMarkers() {
      this.$store.dispatch("modules/mapModule/CLEAR_ROUTING_MARKERS");
    },
    async processRoutingCoordinates(profiletype) {
      console.log(`User Profile Type : ${profiletype}`);
      if (
        this.MARKER_LIST == null ||
        this.MARKER_LIST == undefined ||
        this.MARKER_LIST.length == 0
      ) {
        this.$toast.warning(
          "Please select Start and End Coordinates from the map"
        );
      }

      let myPayload = [
        [this.MARKER_LIST[0][1], this.MARKER_LIST[0][0]],
        [this.MARKER_LIST[1][1], this.MARKER_LIST[1][0]],
      ];
      let parsedBufferedBarriers = [];

      for (let iter = 0; iter < this.GET_BUFFERED_BARRIERS.length; iter++) {
        parsedBufferedBarriers.push([
          this.GET_BUFFERED_BARRIERS[iter].geometry.coordinates[0],
        ]);
      }

      if (profiletype == 0) {
        // Walking Routing Routine
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LOCAL_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "foot-walking",
              avoidPolygon: parsedBufferedBarriers,
              maximum_incline: this.maxIncline,
              surface_type: this.chosensurface,
              routingType: "recommended",
              minimum_width: this.minimum_width,
            }
          );
        } catch (err) {
          console.log(err);
        }
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LIVE_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "foot-walking",
              avoidPolygon: parsedBufferedBarriers,
              maximum_incline: this.maxIncline,
              surface_type: this.chosensurface,
              routingType: "recommended",
              minimum_width: this.minimum_width,
            }
          );
        } catch (err) {
          console.log(err);
        }
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_NOATTR_ROUTING",
            {
              markerList: myPayload,
              profileChoice: "foot-walking",
              avoidPolygon: parsedBufferedBarriers,
              surface_type: this.chosensurface,
              maximum_incline: this.maxIncline,
              routingType: "recommended",
              minimum_width: this.minimum_width,
            }
          );
        } catch (err) {
          console.log(err);
        }
      }
      if (profiletype == 1) {
        // Wheelchair Routing Routine
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LOCAL_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "wheelchair",
              avoidPolygon: parsedBufferedBarriers,
              maximum_incline: this.maxIncline,
              minimum_width: this.minimum_width,
              surface_type: this.chosensurface,
              routingType: "recommended",
            }
          );
        } catch (err) {
          console.log(err);
        }
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LIVE_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "wheelchair",
              avoidPolygon: parsedBufferedBarriers,
              maximum_incline: this.maxIncline,
              minimum_width: this.minimum_width,
              surface_type: this.chosensurface,
              routingType: "recommended",
            }
          );
        } catch (err) {
          console.log(err);
        }
        try {
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_NOATTR_ROUTING",
            {
              markerList: myPayload,
              maximum_incline: this.maxIncline,
              minimum_width: this.minimum_width,
              surface_type: this.chosensurface,
              profileChoice: "wheelchair",
              routingType: "recommended",
            }
          );
        } catch (err) {
          console.log(err);
        }
      }
      if (profiletype == 2) {
        // Visually Impaired Routine
        await this.$store.dispatch(
          "modules/mapModule/PROCESS_LOCAL_POI_ROUTE",
          { markerList: myPayload, profileChoice: "foot-walking" }
        );
      }
    },
    toggleAddBarrierOption() {
      this.$store.dispatch("modules/mapModule/TOGGLE_ADD_BARRIER_OPTION");
    },
    async setStartPoint() {
      let curState = true;
      await this.$store.dispatch(
        "modules/mapModule/SET_TOGGLE_START_ENDPOINT",
        {
          curState,
        }
      );
    },
    setEndPoint() {
      let curState = true;
      this.$store.dispatch("modules/mapModule/SET_TOGGLE_END_ENDPOINT", {
        curState,
      });
    },
    async removeUserToken() {
      console.log("Logging User Out");
      await this.$auth.logout();
      this.$router.push("/");
    },
    setCurVersion() {
      this.versionNo = process.env.APP_VER;
    },
    setWebTitle() {
      this.title = this.$config.projectTitle || "No Title";
    },
    logoutDialogBox() {
      this.logoutDialog = true;
    },
    switchTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      let payload = {
        is_dark: this.$vuetify.theme.dark,
      };
      this.$store.dispatch("modules/globalModule/IS_DARK", payload);
    },
  },
};
</script>

<style scoped lang="scss">
.v-application--is-ltr
  .v-list--dense.v-list--nav
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding: 0 8px;
  color: #fff;
}
.v-radio {
  color: #fff;
}
.profile-bg {
  background: url("../assets/images/user-info.jpg") no-repeat;
}
.v-avatar {
  padding: 45px 0;
}
@media (min-width: 1025px) {
  .common-left-right {
    .v-navigation-drawer {
      transform: translatex(0%) !important;
    }
  }
  .logo-width {
    min-width: 235px;
  }
}

#main-sidebar {
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  .v-navigation-drawer__border {
    display: none;
  }
}
</style>
