<template>
  <div id="mapUserLeaflet">
    <v-container fluid>
      <div id="map-wrap" style="height: 820px; width: 100%">
        <client-only>
          <l-map
            @click="addMarker"
            @ready="attacheRoutingLibrary()"
            ref="myLeafletMap"
            :zoom="15"
            :center="centerMap"
            style="z-index: 0"
          >
            <l-tile-layer :url="mapUrl"></l-tile-layer>
            <l-marker
              v-for="item in GET_MARKER_LIST"
              :draggable="true"
              :key="item._id"
              :lat-lng="item"
            ></l-marker>
            <l-marker
              v-for="item in GET_BARRIER_COORDINATES"
              :draggable="false"
              :key="item._id"
              :lat-lng="item"
            >
            </l-marker>
            <l-geo-json :geojson="GET_BUFFERED_BARRIERS"> </l-geo-json>
            <l-polyline
              :lat-lngs="REC_LIV_ROUTE_COORDINATES"
              color="green"
              :opacity="100"
            ></l-polyline>           
          </l-map>
        </client-only>
      </div>
    </v-container>
  </div>
</template>
<script>
import * as turf from "@turf/turf";
import { mapState, mapGetters } from "vuex";
import openrouteservice from "openrouteservice-js";
export default {
  name: "mapLeafletForUser",
  props: {   
  },
  mounted() {},
  data() {
    return {
      barriers: [],
      marker: {
        position: { lng: 8.538373, lat: 47.372736 },
      },
      bounderyBox: [8.522687, 47.36217, 8.554058, 47.383329],
      mapUrl: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      attribution:
        'Leaflet | OpenStreetMaps | &copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 15,
      centerMap: [47.37212934247628, 8.54212290997998],
      polylineWheelchairRoute: [],
      osmWayIds: [],
      osmLocalWayIds: [],
      polyline: {
        latlngs: [],
      },
    };
  },
  computed: {
    ...mapGetters({
      MAP_START_COORDS: "modules/mapModule/GET_START_ENDPOINT",
      MAP_END_COORDS: "modules/mapModule/GET_END_ENDPOINT",
      START_COORDS_TOGGLE: "modules/mapModule/GET_START_ENDPOINT_TOGGLE",
      END_COORDS_TOGGLE: "modules/mapModule/GET_END_ENDPOINT_TOGGLE",
      PROCESSED_LOCAL_POLYLINE: "modules/mapModule/PROCESSED_LOCAL_POLYLINE",
      PROCESSED_LIVE_POLYLINE: "modules/mapModule/PROCESSED_LIVE_POLYLINE",
      GET_TAG_FEATURE_LIST: "modules/mapModule/GET_TAG_FEATURE_LIST",
      GET_MARKER_LIST: "modules/mapModule/GET_MARKER_LIST",
     
      GET_BARRIER_TOGGLE_STATUS: "modules/mapModule/GET_BARRIER_TOGGLE_STATUS",
      GET_BARRIER_COORDINATES: "modules/mapModule/GET_BARRIER_COORDINATES",
      GET_BUFFERED_BARRIERS: "modules/mapModule/GET_BUFFERED_BARRIERS",
      REC_LIV_ROUTE_COORDINATES: "modules/mapModule/REC_LIV_ROUTE_COORDINATES",
      REC_LIV_ROUTE_ELEVATION: "modules/mapModule/REC_LIV_ROUTE_ELEVATION",
      
    }),    
  },
  methods: {
    async attacheRoutingLibrary() {
      // This function is called when the map has been successfully rendered
      await import("leaflet-routing-machine").then(() => {
        console.log(this.$L);
      });
    },

    addMarker(event) {
      if (this.GET_BARRIER_TOGGLE_STATUS == true) {
        console.log("adding Barrier", event);
        this.$store.dispatch(
          "modules/mapModule/TOGGLE_ADD_BARRIER_OPTION_OFF",
          { curState: false }
        );
        this.$store.dispatch("modules/mapModule/ADD_BARRIER_OPTION", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });

        let center = [event.latlng.lng, event.latlng.lat];
        let radius = 10;
        let options = { steps: 10, units: "meters" };
        let circle = turf.circle(center, radius, options);
        this.$store.dispatch(
          "modules/mapModule/ADD_BUFFERED_BARRIER_COORDINATES",
          circle
        );
      }
      if (this.START_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_START_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      }
      if (this.END_COORDS_TOGGLE == true) {
        this.$store.dispatch("modules/mapModule/SET_END_MARKER", {
          lat: event.latlng.lat,
          lng: event.latlng.lng,
        });
      } else {
        console.log(event.latlng.lat, event.latlng.lng);
      }
    },
  },
};
</script>
