<template>
  <v-card>
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>Metadata</v-toolbar-title>
      <v-spacer></v-spacer>

    </v-toolbar>
    <v-tabs vertical>    
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        Tags
      </v-tab>
      <v-tab>
        <v-icon left> mdi-file-find </v-icon>
        Statistics
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-data-table
              :headers="featureHeaderList"
              :items="REC_LIV_TAGLIST"
              :items-per-page="5"
              class="elevation-1"
            ></v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Routing Type</th>
                    <th class="text-left">Ascent</th>
                    <th class="text-left">Descent</th>
                    <th class="text-left">Elevation Difference</th>
                    <th class="text-left">Distance</th>
                    <th class="text-left">Duration</th>
                    <th class="text-left">Distance Improvement</th>
                    <th class="text-left">Time Improvement</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Shortest</td>
                    <td>{{ SRT_LCL_ROUTE_ASCENT }}</td>
                    <td>{{ SRT_LCL_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(SRT_LCL_ROUTE_ASCENT,SRT_LCL_ROUTE_DESCENT)}}</td>
                    <td>{{ SRT_LCL_ROUTE_DISTANCE }}</td>
                    <td>{{ SRT_LCL_ROUTE_DURATION }} min</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fastest</td>
                    <td>{{ FTS_LCL_ROUTE_ASCENT }}</td>
                    <td>{{ FTS_LCL_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(FTS_LCL_ROUTE_ASCENT,FTS_LCL_ROUTE_DESCENT)}}</td>
                    <td>{{ FTS_LCL_ROUTE_DISTANCE }}</td>
                    <td>{{ FTS_LCL_ROUTE_DURATION }} min</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Recomended</td>
                    <td>{{ REC_LCL_ROUTE_ASCENT }}</td>
                    <td>{{ REC_LCL_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(REC_LCL_ROUTE_ASCENT,REC_LCL_ROUTE_DESCENT)}}</td>
                    <td>{{ REC_LCL_ROUTE_DISTANCE }}</td>
                    <td>{{ REC_LCL_ROUTE_DURATION }} min</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Corrected Shortest</td>
                    <td>{{ SRT_LIV_ROUTE_ASCENT }}</td>
                    <td>{{ SRT_LIV_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(SRT_LCL_ROUTE_ASCENT,SRT_LIV_ROUTE_DESCENT)}}</td>
                    <td>{{ SRT_LIV_ROUTE_DISTANCE }}</td>
                    <td>{{ SRT_LIV_ROUTE_DURATION }} min</td>
                    <td>{{calculateImprovedDistance(SRT_LCL_ROUTE_DISTANCE,SRT_LIV_ROUTE_DISTANCE)}} m</td>
                    <td>{{calculateTimeDiff(SRT_LCL_ROUTE_DURATION,SRT_LIV_ROUTE_DURATION)}} min</td>
                  </tr>
                  <tr>
                    <td>Corrected Fastest</td>
                    <td>{{ FTS_LIV_ROUTE_ASCENT }}</td>
                    <td>{{ FTS_LIV_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(FTS_LIV_ROUTE_ASCENT, FTS_LIV_ROUTE_DESCENT)}}</td>
                    <td>{{ FTS_LIV_ROUTE_DISTANCE }}</td>
                    <td>{{ FTS_LIV_ROUTE_DURATION }} min</td>
                     <td>{{calculateImprovedDistance(FTS_LCL_ROUTE_DISTANCE,FTS_LIV_ROUTE_DISTANCE)}} m</td>
                    <td>{{calculateTimeDiff(FTS_LCL_ROUTE_DURATION,FTS_LIV_ROUTE_DURATION)}} min</td>
                  </tr>
                  <tr>
                    <td>Corrected Recomended</td>
                    <td>{{ REC_LIV_ROUTE_ASCENT }}</td>
                    <td>{{ REC_LIV_ROUTE_DESCENT }}</td>
                    <td>{{calculateElevationDiff(REC_LIV_ROUTE_ASCENT,REC_LIV_ROUTE_DESCENT)}}</td>
                    <td>{{ REC_LIV_ROUTE_DISTANCE }}</td>
                    <td>{{ REC_LIV_ROUTE_DURATION }} min</td>
                    <td>{{calculateImprovedDistance(REC_LCL_ROUTE_DISTANCE,REC_LIV_ROUTE_DISTANCE)}} m</td>
                    <td>{{calculateTimeDiff(REC_LCL_ROUTE_DURATION,REC_LIV_ROUTE_DURATION)}} min</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>
<script>
import { mapState, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      GET_WAYID_LIST: "modules/mapModule/GET_LOCAL_WAYID_LIST",
      GET_TAG_FEATURE_LIST: "modules/mapModule/GET_TAG_FEATURE_LIST",
      GET_LOCAL_ROUTE_DURATION: "modules/mapModule/GET_LOCAL_ROUTE_DURATION",

      SRT_LCL_TAGLIST: "modules/mapModule/SRT_LCL_TAGLIST",
      SRT_LCL_ROUTE_DURATION: "modules/mapModule/SRT_LCL_ROUTE_DURATION",
      SRT_LCL_ROUTE_DISTANCE: "modules/mapModule/SRT_LCL_ROUTE_DISTANCE",
      SRT_LCL_ROUTE_ASCENT: "modules/mapModule/SRT_LCL_ROUTE_ASCENT",
      SRT_LCL_ROUTE_DESCENT: "modules/mapModule/SRT_LCL_ROUTE_DESCENT",

      FTS_LCL_TAGLIST: "modules/mapModule/FTS_LCL_TAGLIST",
      FTS_LCL_ROUTE_DURATION: "modules/mapModule/FTS_LCL_ROUTE_DURATION",
      FTS_LCL_ROUTE_DISTANCE: "modules/mapModule/FTS_LCL_ROUTE_DISTANCE",
      FTS_LCL_ROUTE_ASCENT: "modules/mapModule/FTS_LCL_ROUTE_ASCENT",
      FTS_LCL_ROUTE_DESCENT: "modules/mapModule/FTS_LCL_ROUTE_DESCENT",

      REC_LCL_TAGLIST: "modules/mapModule/REC_LCL_TAGLIST",
      REC_LCL_ROUTE_DURATION: "modules/mapModule/REC_LCL_ROUTE_DURATION",
      REC_LCL_ROUTE_DISTANCE: "modules/mapModule/REC_LCL_ROUTE_DISTANCE",
      REC_LCL_ROUTE_ASCENT: "modules/mapModule/REC_LCL_ROUTE_ASCENT",
      REC_LCL_ROUTE_DESCENT: "modules/mapModule/REC_LCL_ROUTE_DESCENT",

      SRT_LIV_TAGLIST: "modules/mapModule/SRT_LIV_TAGLIST",
      SRT_LIV_ROUTE_DURATION: "modules/mapModule/SRT_LIV_ROUTE_DURATION",
      SRT_LIV_ROUTE_DISTANCE: "modules/mapModule/SRT_LIV_ROUTE_DISTANCE",
      SRT_LIV_ROUTE_ASCENT: "modules/mapModule/SRT_LIV_ROUTE_ASCENT",
      SRT_LIV_ROUTE_DESCENT: "modules/mapModule/SRT_LIV_ROUTE_DESCENT",

      FTS_LIV_TAGLIST: "modules/mapModule/FTS_LIV_TAGLIST",
      FTS_LIV_ROUTE_DURATION: "modules/mapModule/FTS_LIV_ROUTE_DURATION",
      FTS_LIV_ROUTE_DISTANCE: "modules/mapModule/FTS_LIV_ROUTE_DISTANCE",
      FTS_LIV_ROUTE_ASCENT: "modules/mapModule/FTS_LIV_ROUTE_ASCENT",
      FTS_LIV_ROUTE_DESCENT: "modules/mapModule/FTS_LIV_ROUTE_DESCENT",

      REC_LIV_TAGLIST: "modules/mapModule/REC_LIV_TAGLIST",
      REC_LIV_ROUTE_DURATION: "modules/mapModule/REC_LIV_ROUTE_DURATION",
      REC_LIV_ROUTE_DISTANCE: "modules/mapModule/REC_LIV_ROUTE_DISTANCE",
      REC_LIV_ROUTE_ASCENT: "modules/mapModule/REC_LIV_ROUTE_ASCENT",
      REC_LIV_ROUTE_DESCENT: "modules/mapModule/REC_LIV_ROUTE_DESCENT",
    }),
  },
  props: {},
  data() {
    return {
      isLocal: true,
      featureHeaderList: [
        {
          text: "Node ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "Highway", value: "tags.highway" },
        { text: "Sidewalk", value: "tags.sidewalk" },
        { text: "Surface", value: "tags.surface" },
        { text: "Incline", value: "tags.incline" },
        { text: "Footway", value: "tags.footway" },
        { text: "Lit", value: "tags.lit" },
        { text: "Kerbs", value: "tags.kerb" },
      ],
    };
  },
  methods: {
    calculateTimeDiff(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
    calculateImprovedDistance(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
     calculateElevationDiff(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
  },
};
</script>
