<template>
  <div>
    <nav>
      <!-- Sidebar -->
      <v-navigation-drawer
        v-model="drawer"
        clipped
        floating
        app
        id="main-sidebar"
        v-bind:width="325"
      >
        <!---USer Area -->
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="text-h6" v-if="$auth.loggedIn">
              {{ GET_USER_PROFILE_DETAILS.givenname }}
            </v-list-item-title>
            <v-list-item-title class="text-h6" v-else>
              NO USER
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-col>
          <v-text-field
            outlined
            label="Start Location"
            @click:append-outer="setStartPoint"
            :value="`${MAP_START_COORDS}`"
            append-outer-icon="mdi-map-marker"
          ></v-text-field>
        </v-col>

        <v-col>
          <v-text-field
            outlined
            label="End Location"
            @click:append-outer="setEndPoint"
            :value="`${MAP_END_COORDS}`"
            append-outer-icon="mdi-map-marker"
          ></v-text-field>
        </v-col>
        <v-col
          ><v-btn
            color="success"
            block
            @click="processRoutingCoordinates(GET_PROFILE_ROUTING_TYPE)"
            >Generate Route</v-btn
          ></v-col
        >
        <v-col
          ><v-btn dark color="error" block @click="refreshPageBtn"
            >Reset</v-btn
          ></v-col
        >
        <v-divider></v-divider>
        <DirectionListComponent
          :directionList="REC_LIV_ROUTE_INSTRUCTION"
        ></DirectionListComponent>
        <v-divider></v-divider>
        <template v-slot:append>
          <v-divider></v-divider>
          <v-row>
            <v-col>
              <v-btn color="error" block @click="logoutDialogBox">Logout</v-btn>
            </v-col>
          </v-row>
          <div class="pa-2">
            <p class="overline text-center">version {{ versionNo }}</p>
          </div>
        </template>
      </v-navigation-drawer>

      <!-- Topbar -->
      <v-app-bar dark app color="primary" clipped-left>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="align-center d-flex">
          <span class="title">{{ title }}</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text icon @click="gotoProfilePage">
          <v-icon>mdi-account-outline</v-icon>
        </v-btn>
        <v-app-bar-nav-icon
          @click.stop="rightDrawer = !rightDrawer"
        ></v-app-bar-nav-icon>
      </v-app-bar>
    </nav>
    <!-- Right bar -->
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      floating
      app
      id="main-sidebar"
      v-bind:width="325"
    >
      <v-container class="p-0">
        <v-row>
          <v-col>
            <v-list>
              <v-list-item>
                <v-list-item-title class="title">
                  Route Statistics</v-list-item-title
                >
              </v-list-item>
              <hr />
              <v-spacer></v-spacer>
              <ElevationComponent
                titleChartBox="Elevation"
                :elevationData="REC_LIV_ROUTE_ELEVATION"
                :elevationXOption="{
                  options: {
                    xaxis: {
                      categories: [],
                      tickAmount: 10,
                    },
                  },
                }"
              ></ElevationComponent> </v-list
          ></v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-row>
          <v-col> <v-btn block @click="goToSimulation">Simulation Tool</v-btn></v-col>
        </v-row>
      </v-container>
    </v-navigation-drawer>
    <!-- Logout Dialog Box -->
    <v-dialog v-model="logoutDialog" persistent max-width="290px">
      <v-sheet rounded="xl" class="py-4 mx-auto text-center d-inline-block">
        <div>
          <v-icon style="font-size: 65px" color="warning" x-large
            >mdi-information-outline</v-icon
          >
        </div>
        <div class="text-body-2 mb-5">Are you sure you want to Logout?</div>
        <v-divider class="my-5"></v-divider>
        <div>
          <v-btn
            depressed
            color="error"
            class="mr-2"
            dark
            @click="logoutDialog = !logoutDialog"
          >
            Cancel
          </v-btn>
          <v-btn
            depressed
            color="green"
            class="ml-2"
            dark
            @click="removeUserToken"
          >
            Logout
          </v-btn>
        </div>
      </v-sheet>
    </v-dialog>
  </div>
</template>
<script>
import DirectionListComponent from "~/components/generic/DirectionComponent";
import ElevationComponent from "~/components/generic/ElevationComponent";
import InclineComponent from "~/components/generic/InclineComponent";
import { mapState, mapGetters } from "vuex";
export default {
  middleware: "auth",
  components: {
    ElevationComponent: ElevationComponent,
    InclineComponent: InclineComponent,
    DirectionListComponent: DirectionListComponent,
  },
  data() {
    return {
      logoutDialog: false,
      drawer: true,
      selectedProfile: "",
      linksAdmin: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
        {
          to: "/user/",
          icon: "mdi-account",
          text: "User",
        },
      ],
      linksBasic: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
      ],
      linksOrgEmpty: [
        {
          to: "/",
          icon: "mdi-view-dashboard",
          text: "Dashboard",
        },
      ],

      miniVariant: false,
      right: true,
      rightDrawer: false,
      versionNo: "1.0.0.0",
      title: "weMove",
    };
  },
  mounted() {
    this.setWebTitle();
    this.setCurVersion();
  },
  computed: {
    ...mapGetters({
      GET_USER_PROFILE_DETAILS: "modules/userModule/GET_USER_PROFILE_DETAILS",
      MAP_START_COORDS: "modules/mapModule/GET_START_ENDPOINT",
      MAP_END_COORDS: "modules/mapModule/GET_END_ENDPOINT",
      MARKER_LIST: "modules/mapModule/GET_MARKER_LIST",
      GET_PROFILE_ROUTING_TYPE: "modules/userModule/GET_PROFILE_ROUTING_TYPE",
      GET_PROFILE_ROUTING_PREFERENCE_TYPE:
        "modules/userModule/GET_PROFILE_ROUTING_PREFERENCE",
      GET_BUFFERED_BARRIERS: "modules/mapModule/GET_BUFFERED_BARRIERS",
      REC_LCL_ROUTE_ELEVATION: "modules/mapModule/REC_LCL_ROUTE_ELEVATION",
      REC_LIV_ROUTE_ELEVATION: "modules/mapModule/REC_LIV_ROUTE_ELEVATION",
      REC_LIV_ROUTE_INSTRUCTION: "modules/mapModule/REC_LIV_ROUTE_INSTRUCTION",
    }),
  },
  methods: {
    goToSimulation(){
      window.location.href = "simulation";
    },
    refreshPageBtn() {
      location.reload();
    },
    async setStartPoint() {
      let curState = true;
      await this.$store.dispatch(
        "modules/mapModule/SET_TOGGLE_START_ENDPOINT",
        {
          curState,
        }
      );
    },
    setEndPoint() {
      let curState = true;
      this.$store.dispatch("modules/mapModule/SET_TOGGLE_END_ENDPOINT", {
        curState,
      });
    },
    gotoProfilePage() {
      this.$router.push("/profile");
    },
    async processRoutingCoordinates(profiletype) {
      try {
        console.log(`User Profile Type: ${profiletype}`);
        if (this.MARKER_LIST.length == 0) {
          this.$toast.warning(
            "Please select Start and End Coordinates from the map"
          );
        }
        let myPayload = [
          [this.MARKER_LIST[0][1], this.MARKER_LIST[0][0]],
          [this.MARKER_LIST[1][1], this.MARKER_LIST[1][0]],
        ];
        let parsedBufferedBarriers = [];
        if (this.GET_BUFFERED_BARRIERS.length == 0) {
          parsedBufferedBarriers = [];
        } else {
          for (let iter = 0; iter < this.GET_BUFFERED_BARRIERS.length; iter++) {
            console.log("Barrier : " + iter);
            console.log(
              this.GET_BUFFERED_BARRIERS[iter].geometry.coordinates[0]
            );
            parsedBufferedBarriers.push([
              this.GET_BUFFERED_BARRIERS[iter].geometry.coordinates[0],
            ]);
          }
        }

        if (profiletype == "foot-walking") {
          // Walking Routing Routine
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LIVE_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "foot-walking",
              avoidPolygon: parsedBufferedBarriers,
            }
          );
        }
        if (profiletype == "wheelchair") {
          // Wheelchair Routing Routine
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LIVE_PROFILE_ROUTE",
            {
              markerList: myPayload,
              profileChoice: "wheelchair",
              avoidPolygon: parsedBufferedBarriers,
            }
          );
        }
        if (profiletype == "visually-impaired") {
          // Visually Impaired Routine
          await this.$store.dispatch(
            "modules/mapModule/PROCESS_LOCAL_POI_ROUTE",
            { markerList: myPayload, profileChoice: "foot-walking" }
          );
        }
      } catch (err) {
        console.log(err);
      }
    },
    async removeUserToken() {
      await this.$auth.logout().then(() => {
        location.reload();
      });
    },
    setCurVersion() {
      this.versionNo = process.env.APP_VER;
    },
    setWebTitle() {
      this.title = this.$config.projectTitle || "No Title";
    },
    logoutDialogBox() {
      this.logoutDialog = true;
    },
    switchTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      let payload = {
        is_dark: this.$vuetify.theme.dark,
      };
      this.$store.dispatch("modules/globalModule/IS_DARK", payload);
    },
  },
};
</script>

<style scoped lang="scss">
.v-application--is-ltr
  .v-list--dense.v-list--nav
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding: 0 8px;
  color: #fff;
}
.v-radio {
  color: #fff;
}
.profile-bg {
  background: url("../assets/images/user-info.jpg") no-repeat;
}
.v-avatar {
  padding: 45px 0;
}
@media (min-width: 1025px) {
  .common-left-right {
    .v-navigation-drawer {
      transform: translatex(0%) !important;
    }
  }
  .logo-width {
    min-width: 235px;
  }
}

#main-sidebar {
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  .v-navigation-drawer__border {
    display: none;
  }
}
</style>
