<template>
  <v-card>
    <v-toolbar flat color="primary" dark>
      <v-toolbar-title>Route Statistics</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-tabs vertical>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        RAW WAC Uncorrected
      </v-tab>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        RAW WAC Corrected
      </v-tab>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        RAW WAC No Attribute
      </v-tab>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        WAC Uncorrected
      </v-tab>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        WAC Corrected
      </v-tab>
      <v-tab>
        <v-icon left> mdi-access-point </v-icon>
        WAC No Attribute
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="rawWacUncorrectedData.length > 0"
                  dense
                  :headers="rawWacHeaderList"
                  :items="rawWacUncorrectedData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="rawWacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="rawWacCorrectedData.length > 0"
                  dense
                  :headers="rawWacHeaderList"
                  :items="rawWacCorrectedData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="rawWacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="rawWacNoAttrData.length > 0"
                  dense
                  :headers="rawWacHeaderList"
                  :items="rawWacNoAttrData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="rawWacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col
                ><v-chip>WAC Score : {{ wacUncorrectedScore }}</v-chip></v-col
              >
            </v-row>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="wacUncorrectedData.length > 0"
                  dense
                  :headers="wacHeaderList"
                  :items="wacUncorrectedData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="wacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col
                ><v-chip>WAC Score : {{ wacCorrectedScore }}</v-chip></v-col
              >
            </v-row>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="wacCorrectedData.length > 0"
                  dense
                  :headers="wacHeaderList"
                  :items="wacCorrectedData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="wacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table
              ></v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-row>
              <v-col
                ><v-chip>WAC Score : {{ wacNoAttrScore }}</v-chip></v-col
              >
            </v-row>
            <v-row>
              <v-col>
                <v-data-table
                  v-if="wacNoAttrData.length > 0"
                  dense
                  :headers="wacHeaderList"
                  :items="wacNoAttrData"
                  :items-per-page="5"
                  class="elevation-1"
                  disable-pagination
                ></v-data-table>
                <v-data-table
                  v-else
                  :headers="wacHeaderList"
                  :items="[]"
                  :items-per-page="5"
                  class="elevation-1"
                ></v-data-table>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>
<script>
import { mapState, mapGetters } from "vuex";
export default {
  name: "StatisticsBox",
  computed: {
    ...mapGetters({}),
  },
  props: {
    wacCorrectedScore: Number,
    wacUncorrectedScore: Number,
    wacNoAttrScore: Number,
    rawWacUncorrectedData: {},
    rawWacCorrectedData: {},
    rawWacNoAttrData: {},
    wacUncorrectedData: {},
    wacCorrectedData: {},
    wacNoAttrData: {},
    uncorrectedData: {},
    correctedData: {},
  },
  data() {
    return {
      isLocal: true,
      rawWacHeaderList: [
        { text: "Distance", sortable: false, value: "distance" },
        { text: "Surface Type", sortable: false, value: "surfacetype" },
        { text: "Slope", sortable: false, value: "slope" },
        { text: "Width", sortable: false, value: "width" },
        { text: "Inaccessible Kerb Count", sortable: false, value: "ikc" },
        { text: "Crossing Count", sortable: false, value: "crc" },
        { text: "Normalized Length", sortable: false, value: "normalizedlength"},
        { text: "L * sls * wls", sortable: false, value: "lslswls" },
        { text: "wt	* nl * stc ", sortable: false, value: "wtnlstc" },
        { text: "ws * nl * slc ", sortable: false, value: "wsnlslc" },
        { text: "Width Relevance Switch", sortable: false, value: "wrs" },
        { text: "ww	* nl * wc * wrs", sortable: false, value: "wwnlwcwrs" },
        { text: "wk * ikc * Ck", sortable: false, value: "wkikcck" },
        { text: "wc * CROSSING COUNT * Cc", sortable: false, value: "wccrccc" },
        { text: "WAC", sortable: false, value: "wac"},
        { text: "Start longtitude", sortable: false, value: "startlongtitude" },
        { text: "Start latitude", sortable: false, value: "startlatitude" },
        { text: "End longtitude", sortable: false, value: "endlongtitude" },
        { text: "End latitude", sortable: false, value: "endlatitude" },
        { text: "osm id", sortable: false, value: "osmid" },
        { text: "L", sortable: false, value: "l" },
        { text: "Crossing Type", sortable: false, value: "crossingtype" },
        { text: "Kerb Type", sortable: false, value: "kerbtype" },
        { text: "Kerb Count", sortable: false, value: "ikc" },
        { text: "Max Segment", sortable: false, value: "segmentmaxlength" },
        { text: "Way Order", sortable: true, value: "wayorder" },
      ],
      // prettier-ignore
      wacHeaderList: [
        { text: "osm id", sortable: false, value: "osmid"},
        { text: "WAC", sortable: false, value: "wac"},
        { text: "L", sortable: false, value: "l" },
        { text: "Slope Limit Switch", sortable: false, value: "sls" },
        { text: "Normalized Length", sortable: false, value: "nl"},
        { text: "Width Limit Switch", sortable: false, value: "wls" },
        { text: "L 	* SLOPE LIMIT SWITCH + WIDTH LIMIT SWITCH", sortable: false, value: "lslswls" },
        { text: "wd	* nl ", sortable: false, value: "wdnl" },
        { text: "stc ", sortable: false, value: "stc" },
        { text: "wt	* nl * stc ", sortable: false, value: "wtnlstc" },
        { text: "slc ", sortable: false, value: "slc" },
        { text: "ws * nl * sc ", sortable: false, value: "wsnlslc" },
        { text: "Width Cost", sortable: false, value: "wc" },
        { text: "Width Relevance Switch", sortable: false, value: "wrs" },
        { text: "ww	* nl * wc * wrs", sortable: false, value: "wwnlwcwrs" },
        { text: "ikc", sortable: false, value: "ikc"},
        { text: "ck", sortable: false, value: "ck" },
        { text: "wk * ikc * Ck", sortable: false, value: "wkikcck" },
        { text: "Crossing Count", sortable: false, value: "crc"},
        { text: "wc * CROSSING COUNT * Cc", sortable: false, value: "wccrccc" },
        { text: "wc", sortable: false, value: "wc" },
        { text: "wrs", sortable: false, value: "wrs" },
        { text: "cc", sortable: false, value: "cc" },
        {text: "Way Order", sortable: true, value: "wayorder"},        
      ],
    };
  },
  methods: {
    calculateTimeDiff(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
    calculateImprovedDistance(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
    calculateElevationDiff(before, after) {
      return (parseFloat(before) - parseFloat(after)).toFixed(2);
    },
  },
};
</script>
