<template>
  <div id="dashboardPage"></div>
</template>
<script type="text/javascript">
import { mapState, mapGetters } from "vuex";
export default {
  middleware: "auth",
  data() {
    return {};
  },
};
</script>
<style></style>
