<template>
  <v-app dark>
    <div>
      <v-main>
          <Nuxt />
      </v-main>    
    </div>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  components: {
  },
  data() {
    return {
      fixed: false,
      title: 'weMove : Accessibility Routing Application',
    }
  },
}
</script>
