<template>
  <v-app dark>
    <div>
      <Navbar></Navbar>
      <v-main>
          <Nuxt />
      </v-main>    
    </div>
  </v-app>
</template>

<script>
import Navbar from '~/components/Navbar'
export default {
  name: 'DefaultLayout',
  components: {
    Navbar: Navbar,
  },
  data() {
    return {
      fixed: false,
      title: 'weMove : Mobility and Accessibility Routing Application',
    }
  },
}
</script>
